<script type="text/javascript">
                $(document).scroll(function(event){
                    if ($(this).scrollTop() > 1000) {
                        $('.scrollTop').fadeIn();
                    } else {
                        $('.scrollTop').fadeOut();
                    }
                }); 
              
     </script>
     
     <script type="text/javascript">
       // $(document).ready(function(){
       //  $("this").niceScroll();
       // });
     </script>
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a class="page-scroll" href="#myCarousel">Home</a></li>
      <li><a class="page-scroll" href="#about-us">About us</a></li>
      <li><a class="page-scroll" href="#services">Services</a></li>
      <li><a class="page-scroll" href="#technology">Technology</a></li>
      <li><a class="page-scroll" href="#contact-main">Contact</a></li>
    </ul>
  </nav>
</div>



<!-- <script type="text/javascript">

$(document).ready(function(){

	$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });

});
</script> -->
<!-- *************home page*********** -->
<!-- Carousel================================================== -->
  <div class="container-fluid">
    <div class="row">
    <div class="mainmenu">
 
  <section class="container logo contact section center">
    <div class="container animatedParent animateOnce">
      <a class="page-scroll pull-left" href="#about-us"> WEB<b style="color: red; ">SANSAR </b></a>
    </div>
  </section>
  
    
      <div class="contactmenu">
        <ul>
          <li><a href="tel:+9779860051248"><p class="icon-phone text-center">01-6540930</p></a></li>
         <!--  <li><a href="#">Project Finder</a></li> -->
          <li> <a href="mailto:info@websansar.com"><p>info@websansar.com</p></a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>



 <div class="main-carousel">
<!--   <div class="carousel-black"></div> -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active carousel-1">
      <div class="container">
        <div class="carousel-caption">
        
     Present your business activity in technical way
<!--<p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p> -->
        </div>
      </div>
    </div>
    <div class="item carousel-2">
      <div class="container-fluid"> 
        <div class="carousel-caption text-center">
        
Enterprise you through web network with cloud computing
    
        </div>
      </div>
    </div>
     <div class="item carousel-3">
      <div class="container-fluid">
        <div class="carousel-caption text-center">
     
       There is no only true way to do anything
        
        
        </div>
      </div>
    </div>
     <div class="item carousel-4">
      <div class="container-fluid">
        <div class="carousel-caption text-center">
     
      Another example headline.
          

        </div>
      </div>
    </div>
     <div class="item carousel-5">
      <div class="container">
        <div class="carousel-caption text-center">

          Another example headline.
        </div>
      </div>
    </div>
        <div class="carousel-black"></div>
  </div>
<!--     <div class="carousel-black"></div> -->
</div><!-- /.carousel -->
</div><!-- main caro-->
<!-- *************home page end*********** -->

<!-- *************about us start *********** -->

<div id="about-us">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 text-center">
				<div class="heading">
					<h2>About us</h2>
        
				</div><!--heading-->
			</div><!--col-sm-12-->
		</div><!--row-->
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6 col-md-6 small-screan-center">
					<div class="about_content">
						<h3><b>Our company</b></h3>
						<p>WebSansar is expert website design company spend significant time in building and advertising websites for an extensive variety for business experts. We provide ourselves on building responsive websites which shows the mirror of your company. </p>
					</div><!--about_content-->
					<div class="col-sm-2 col-md-2" style="padding: 0px; margin-top: 8px;">


                  <div id="modalimg">
                    <div id="myNav" class="overlaay">

                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                       <div class="overlay-content">
                        <!-- <a href="#">About</a>
                        <a href="#">Services</a>
                        <a href="#">Clients</a>
                        <a href="#">Contact</a> -->
                        <div class="container">
                          <div class="col-md-6 col-xl-6">
                            <h1 style="color: white;">Our Company</h1>
                            <p style="line-height: 1.7; "> With building and advertising your website for an extensive variety for business experts. We fulfill customers incorporates lawyers and law affices, book-keeping firms, differnt firms and business people we pride ourself on building quality and eye catching designed website which shows the mirror of your company.</p>
                            <p style="line-height: 1.7;"> With the best team work, this company well knowned as creative web page developer.Functional behaviour wished by the client and friendly to user. E-commerce solution, SEO/SEM services. We are giving services to almost every type of industries major including manufacturing, realstate, corporate etc.</p>
                          </div>
                          <div class="col-md-6 col-xl-6">
                            <h1 style="color: white;">Our Vision</h1>
                            <p style="line-height: 1.7;">providing customized and effective web solutions to achieve clients business goal. We value technology innovation, learning, and to adapt the change in achieve operational efficiently in a way to provide easy and best web solutions to our clients. We commit to providing our clients with continuous, expert web solutions, services and enable you to grow and succeed your business. </p>
                            <p style="line-height: 1.7;"> Our specialty is in conceptualiz your ideas and transforming them into reality using the latest internet technologies to enable your business to enjoy greater success online.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-large" style="color: white; background:#FF5252; cursor:pointer" onclick="openNav()"><span>Read more</span></a>


                  <script>
                  // function openNav() {
                  //     document.getElementById("myNav").style.width = "100%";
                  // }

                  // function closeNav() {
                  //     document.getElementById("myNav").style.width = "0%";
                  // }
                  </script>
                       
                  <!--<a class="btn btn-large" style="color: white; background: #911e2f;" href="#">Learn more</a> -->
					</div>
				</div><!--col-sm-6--> 
			</div><!-- col-sm-12-->
		</div><!--row-->
	</div><!--container-->
</div>
<!-- *************about us end*********** -->
<!-- **************about us link start********** -->
<div class="middle-banner">
  <div class="container">
    <div class="row">
      <div class=" col-md-6 col-xs-12 middle-banner-text">
        <p>Web Development with <p class="edge">responsive & <br>rails<br> technology</p></p>
      </div>
      <div class="col-xs-6 hidden-xs ">
        <img src="assets/adstore.png " width="500" height="300" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<!-- *************services start *********** -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"> 
<div id="services">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading">
					<h2>Services</h2>
          
				</div><!-- heading -->
			</div><!-- col-sm-12 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 text-center">
        <div class="service-effect">
				<div class="service1" style="margin: 0 auto;">
          <div class="icon-screen-desktop" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>    
        </div>
        <h3 class="service-header" style="font-weight: bold; text-align:center;">Web Design</h3>
				<div class="service">
					<p>Stunning website for your business environment. Responsive for any device with ux/ui feature for your organization. </p>
			
				</div>
        </div>
			</div>
			<div class="col-md-3 text-center">
        <div class="service-effect">
				<div class="service1" style="margin: 0 auto;">
          <div class="icon-equalizer" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>  
        </div>
        <h3 class="service-header"  style="font-weight: bold; text-align:center;">SEO Optimization</h3>
				<div class="service">
				<p>Obtain top rankings for desired search terms and drive qualified leads that are crucial to building your business</p>
				
				</div>
        </div>
			</div>
			<div class="col-md-3 text-center">
      <div class="service-effect">
				<div class="service1" style="margin: 0 auto;">
          <div class="icon-globe" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>  
        </div>
        <h3 class="service-header"  style="font-weight: bold; text-align:center;">E-marketing</h3>
			 	<div class="service">
				<p>Our specialized marketing teams work to increase your conversions, repeat traffic, and expand your online visibility</p>
				</div>
        </div>
			</div>
			<div class="col-md-3 text-center">
        <div class="service-effect">
				<div class="service1" style="margin: 0 auto;">
          <div class="icon-cloud-upload" style="font-size: 30px; text-align: center; line-height: 1.5; -moz-font-smoothing: grayscale;"></div>     
        </div>
        <h3 class="service-header"  style="font-weight: bold; text-align:center;">Domain Registration</h3>
        <div class="service">
				<p>Secure your domain name today with Nepal's most trusted domain registration company for your organization</p>
				
				</div>
        </div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- services -->



<div class="service-banner">
  <div class="container">
    <div class="row">
      <div class=" col-md-8 service-banner-text">
        <p>Helps you to achive your goal and develop your business<p class="edge">Lets Get Started your project</p></p>
      </div>
      <div class=" col-md-4 ">
<!--         <img src="#" width="500" height="300" class="img-responsive">
 -->      </div>
    </div>
  </div>
</div>

<!-- *****************technologies start********************** -->

<div class="container"><!-- <hr class="recent-divider"> --></div>
  <div id="technology" class="technology-sections">
    <div class="container">
      <div class="row">
        <div class="tools-title text-center">
          <h2>Technologies</h2>
        </div>
        <div class="col-md-12">
          <div class="tools-description">
          <p>With these technologies such as, HTML5, CSS3, JavaScript, Wordpress, Sass, Bootstrap,Ruby on Rails and more, Level Up your Business by creating modern websites.</p>
        </div>
        </div>
      </div>
        <br/>
      <div class="row"> 
     <div class="technologies">
      <ul>
        <li><img class="tools-img" src="assets/ruby.png " ></li>
        <li><img class="tools-img" src="assets/rubyonrails.png " ></li>
        <li><img class="tools-img" src="assets/sass.png " ></li>
        <li><img class="tools-img" src="assets/photoshop.jpg " ></li>
      </ul>
       <ul class="bottom-ul">
        <li><img class="tools-img" src="assets/javascript.jpg " ></li>
        <li><img class="tools-img" src="assets/bootstrap.png " ></li>
        <li><img class="tools-img" src="assets/wordpress.png " ></li>
        <li><img class="tools-img" src="assets/html5.png " ></li>
      </ul>
      </div>
  </div>
  </div>
</div>

<div class="scrollTop" style="transform: rotate(180deg);">
  <a href="#myCarousel" class="page-scroll" style="z-index: 2500;"><img src="assets/scrolTop.png" width="40" height="40"></a>
</div>
<!-- *****************technologies end********************** -->
<footer>
<div id="contact-main">
<!-- <img src="assets/contact.jpg" style="width: 100%; height: 100vh">
 --><div class="contact-black"></div>
<section class="contact section center">
  <div class="container animatedParent animateOnce">
 
    <div class="row">
 <h3 class="contact-detail-title">Contact Info</h3>
 <div class="information">
    <div class="col-md-6">      
              <div class="contact-detail center">
                        <p>
                        Suryabinayak 08, Bhaktapur <br/>
                        Bagmati, Nepal <br/>
                        Phone/Fax :  <a href="tel:977-01-6540930 ">+977-01-6540930</a> <br>
                        Email :  <a href="mailto:info@websansar.com">info@websansar.com</a>
                        </p>        

                    </div>
     </div>
     <div class="col-md-1"></div>
    </div>
      <div class="col-md-6">
        <!-- /.contact-info -->
        <div class="contact-form animated bounceInLeft slow" data-id="2">
          <form id="contact" name="post" method="post" action="/posts" data-remote="true" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="name" id="namelabel"><span class="err"><i class="fa fa-info-circle"></i> Please enter your name</span></label>
                  <input id="name" name="name" type="text" class="form-control" placeholder="Your Name *" required>
                  <span class="anim"></span>
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-md-12 ">
                <div class="form-group">
                  <label for="email" id="emailabel"><span class="err"><i class="fa fa-info-circle"></i> Please enter a valid e-mail address</span></label>
                  <input id="email" name="email" type="email" class="form-control" placeholder="Your Email *" required>
                  <span class="anim"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message" id="msglabel"><span class="err"><i class="fa fa-info-circle"></i> Share your words with us</span></label>
                  <textarea id="message" name="message" class="form-control" placeholder="Drop Some Words *" rows="5"></textarea>
                  <span class="anim"></span>
                </div>
              </div>
            </div>
           
  
            <div class="form-group">
              <section id="subber">
                <button type="submit" name="submitlink" id="submitlink" class="btn btn-lg btn-block btn-flat btn-danger">Send <i class="fa fa-paper-plane"></i></button>
              </section>
            </div>
          </form>

        </div>
        <!-- /.contact-form -->
      </div>

    </div><!-- row end-->
  </div>
</section>

</div>
</footer>

      <div class="copyright">
    <p>&copy 2017 websansar. All Rights Reserved</p>
  </div>
  





<!-- /.contact -->